*{
    margin:0;
    padding:0;
    box-sizing:border-box;
 font-family:'poppins', Courier, monospace;
 
}


#logo{
    background-color:yellow;
     padding:0.8rem 3rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color: black;
    
}

.first img{
    width:300px;
    height:300px;
     border: 2px solid black;
     margin:3rem 3rem 0;
     
}
 .h1{
        
        color:yellow;
        width:600px;
        text-align: justify;
        margin:0 3rem;
} 

li{
   list-style-type:none;
   margin:0.5rem;
   
   
}
.first{
   display:flex;
   justify-content:space-between;
   align-items: center;
  
   background-color: black;
   
}
.list ul{
    display:flex;
    justify-content:space-between;
}
